<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Proxy Example</title>
</head>
<body>

<iframe src="/proxy/http://192.168.1.112:8080" width="800" height="600"></iframe>

</body>
</html>
