<div class="container mt-4">
  <div class="p-4 border rounded">
    <h2 class="mb-4">Project Tracking</h2>
    <div class="row">
      <% @projects.each do |project| %>
        <div class="col">
          <h3><%= project.name %></h3>
          <table class="table">
            <thead>
              <tr>
                <th>Date</th>
                <th>Progress</th>
              </tr>
            </thead>
            <tbody>
              <% if project.project_progresses.any? %>
                <% project.project_progresses.each do |progress| %>
                  <tr>
                    <td><%= progress.estimated_completion %></td>
                    <td><%= progress.progress %></td>
                  </tr>
                <% end %>
              <% else %>
                <tr>
                  <td colspan="2">No progress</td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>
