<div class="container mt-4">
  <div class="p-4 border rounded">
    <h2 class="mb-4">Project Tracking (Domino & Osapien Interfacing)</h2>
    <div class="row">
      <% @project_progress.each do |supplier_name, progress_data| %>
      <div class="col">
        <h3><%= supplier_name %></h3>
        <table class="table">
          <thead>
            <tr>
              <th>Task</th>
              <th>Progress</th>
              <th>Estimated Completion</th>
            </tr>
          </thead>
          <tbody>
            <% if progress_data.any? %>
              <% progress_data.each do |progress| %>
                <tr>
                  <td><%= progress[:task] %></td>
                  <td><%= progress[:progress] %></td>
                  <td><%= progress[:estimated_completion] %></td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td colspan="3">No tasks</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <% end %>
    </div>
  </div>
</div>
